<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <form [formGroup]="adminForm">
        <div class="card-header">
          <h2>Admin login</h2>
        </div>
        <div class="card-content">
          <p *ngIf="errorMessage" class="red">{{errorMessage}}</p>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <label for="username">
                Pseudo
              </label>
              <input class="form-control" id="username" type="text" formControlName="username">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <label for="password">
                Password
              </label>
              <input class="form-control" id="password" type="password" formControlName="password">
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2">
              <a type="submit" class="btn btn-dark" [routerLink]="['/fighter/list']">Back</a>
            </div>
            <div class="col-md-2">
              <a type="submit" class="btn btn-success" [routerLink]="['/auth']">Login</a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
