<div class="container-fluid">
  <div *ngIf="fightersList">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" class="table-title-id">ID</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Weight</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let fighter of fightersList" (click)="setCurrentFighter(fighter)">
        <th scope="row">{{fighter.id}}</th>
        <td>{{fighter.firstName}}</td>
        <td>{{fighter.name}}</td>
        <td>{{fighter.weight}}</td>
      </tr>
      </tbody>
      <tfoot>
      <input type="button" class="btn btn-edit">
    </tfoot>
  </table>
  <app-fighter-details *ngIf="currentFighter" [model]="currentFighter" ></app-fighter-details>
  </div>
  <div *ngIf="!fightersList">
    <p>Chargement ...</p>
  </div>
</div>


