<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <form [formGroup]="fighterForm">
        <div class="card-header">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
              <h2>Details</h2>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-2">
              <a (click)="save()" class="btn btn-success">Save</a>
            </div>
          </div>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div *ngIf="fighterForm.get('firstname')?.errors" class="alert alert-danger">
                <div *ngIf="fighterForm.get('firstname')?.errors?.['required']">Prénom est requis.</div>
                <div *ngIf="fighterForm.get('firstname')?.errors?.['minlength']">Prénom doit être au moins de 3 caractères.</div>
                <div *ngIf="fighterForm.get('firstname')?.errors?.['maxlength']">Prénom ne peut pas dépasser 25 caractères.</div>
              </div>
              <div *ngIf="fighterForm.get('lastname')?.errors" class="alert alert-danger">
                <div *ngIf="fighterForm.get('lastname')?.errors?.['required']">Nom est requis.</div>
                <div *ngIf="fighterForm.get('lastname')?.errors?.['minlength']">Nom doit être au moins de 3 caractères.</div>
                <div *ngIf="fighterForm.get('lastname')?.errors?.['maxlength']">Nom ne peut pas dépasser 50 caractères.</div>
              </div>
              <div *ngIf="fighterForm.get('age')?.errors" class="alert alert-danger">
                <div *ngIf="fighterForm.get('age')?.errors?.['required']">L'âge est requis.</div>
                <div *ngIf="fighterForm.get('age')?.errors?.['min']">L'âge doit être supérieur à 16 ans.</div>
                <div *ngIf="fighterForm.get('age')?.errors?.['max']">L'âge doit être inférieur à 55 ans.</div>
              </div>
              <div *ngIf="fighterForm.get('weight')?.errors" class="alert alert-danger">
                <div *ngIf="fighterForm.get('weight')?.errors?.['required']">Le poids est requis.</div>
                <div *ngIf="fighterForm.get('weight')?.errors?.['min']">Le poids doit être supérieur à 45 kg.</div>
                <div *ngIf="fighterForm.get('weight')?.errors?.['max']">Le poids doit être inférieur à 160 kg.</div>
              </div>
              <div *ngIf="fighterForm.get('height')?.errors" class="alert alert-danger">
                <div *ngIf="fighterForm.get('height')?.errors?.['required']">La taille est requise.</div>
                <div *ngIf="fighterForm.get('height')?.errors?.['min']">La taille doit être supérieur à 45 cm.</div>
                <div *ngIf="fighterForm.get('height')?.errors?.['max']">La taille doit être inférieur à 250 cm.</div>
              </div>
              <div *ngIf="fighterForm.get('reach')?.errors" class="alert alert-danger">
                <div *ngIf="fighterForm.get('reach')?.errors?.['required']">L'allonge est requise.</div>
                <div *ngIf="fighterForm.get('reach')?.errors?.['min']">L'allonge doit être supérieur à 25 cm.</div>
                <div *ngIf="fighterForm.get('reach')?.errors?.['max']">L'allonge doit être inférieur à 150 cm.</div>
              </div>
              <div *ngIf="fighterForm.get('nbWin')?.errors" class="alert alert-danger">
                <div *ngIf="fighterForm.get('nbWin')?.errors?.['required']">Le nombre de victoire est requise.</div>
                <div *ngIf="fighterForm.get('nbWin')?.errors?.['min']">Le nombre de victoire doit être supérieur à 0</div>
                <div *ngIf="fighterForm.get('nbWin')?.errors?.['max']">Le nombre de victoire doit être inférieur à 100</div>
              </div>
              <div *ngIf="fighterForm.get('nbLose')?.errors" class="alert alert-danger">
                <div *ngIf="fighterForm.get('nbLose')?.errors?.['required']">Le nombre de défaite est requise.</div>
                <div *ngIf="fighterForm.get('nbLose')?.errors?.['min']">Le nombre de défaite doit être supérieur à 0</div>
                <div *ngIf="fighterForm.get('nbLose')?.errors?.['max']">Le nombre de défaite doit être inférieur à 100</div>
              </div>
              <div *ngIf="fighterForm.get('sexe')?.errors" class="alert alert-danger">
                <div *ngIf="fighterForm.get('sexe')?.errors?.['required']">Le sexe est requis.</div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <label for="firstname">
                Nom
              </label>
              <input class="form-control" id="firstname" type="text"
                     formControlName="firstname">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <label for="lastname">
                Prénom
              </label>
              <input class="form-control" id="lastname" type="text" formControlName="lastname">
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
              <label for="weight">
                Weight
              </label>
              <input class="form-control" id="weight" type="text" formControlName="weight">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <label for="height">
                Height
              </label>
              <input class="form-control" id="height" type="text" formControlName="height">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <label for="reach">
                Reach
              </label>
              <input class="form-control" id="reach" type="text" formControlName="reach">
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <label for="sexe">
                Sexe
              </label>
              <input class="form-control" id="sexe" type="text" formControlName="sexe">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <label for="age">
                Age
              </label>
              <input class="form-control" id="age" type="text" formControlName="age">
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <label for="nbWin">
                number Wins
              </label>
              <input class="form-control" id="nbWin" type="text" formControlName="nbWin">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <label for="nbLose">
                number Looses
              </label>
              <input class="form-control" id="nbLose" type="text" formControlName="nbLose">
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
              <a class="btn btn-dark" (click)="save()">Back</a>
            </div>
            <div class="col-md-5"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
