<form [formGroup]="fighterForm">
  <div class="row">
    <div class="col-6">
      <label for="firstName">
        Nom
      </label>
      <input class="form-control" id="firstName" type="text" formControlName="firstName">
    </div>
    <div class="col-6">
      <label for="name">
        Prénom
      </label>
      <input class="form-control" id="name" type="text" formControlName="name">
    </div>
    <div class="col-6">
      <label for="age">
        Age
      </label>
      <input class="form-control" id="age" type="text" formControlName="age">
    </div>
    <div class="col-6">
      <label for="weight">
        Weight
      </label>
      <input class="form-control" id="weight" type="text" formControlName="weight">
    </div>
    <div class="col-6">
      <label for="height">
        Height
      </label>
      <input class="form-control" id="height" type="text" formControlName="height">
    </div>
    <div class="col-6">
      <label for="reach">
        Reach
      </label>
      <input class="form-control" id="reach" type="text" formControlName="reach">
    </div>
    <div class="col-6">
      <label for="nbWin">
        number Wins
      </label>
      <input class="form-control" id="nbWin" type="text" formControlName="nbWin">
    </div>
    <div class="col-6">
      <label for="nbLose">
        number Looses
      </label>
      <input class="form-control" id="nbLose" type="text" formControlName="nbLose">
    </div>
    <div class="col-6">
      <label for="sexe">
        Sexe
      </label>
      <input class="form-control" id="sexe" type="text" formControlName="sexe">
    </div>
    <div class="col-6">
      <label for="category">
        Category
      </label>
      <input class="form-control" id="category" type="text" formControlName="category">
    </div>
  </div>


  <input type="submit" class="btn btn-primary mt-3" value="Valider">
</form>
